html,body,#root, .App {            
  height: 100%;
  margin: 0;
}

.linksTable{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: left;
  border-collapse: collapse;
  font-size: x-large;
  }

  .navImg{
    height: 25px;
    }

  .robImg{
    height: 220px;
    }
    
  .mainHr{
    width: 35%;
    border: 12px;
    border-color: goldenrod;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
    margin-top: 10px;
    }
  

  .sideBarNav{
    height: 100%;
    display: block;
    background-color:#212121;
    font-family:Arial, Helvetica, sans-serif ;
    color: honeydew;
    width:25%;
    float: left;
    text-align: center;
    position: fixed;
    font-family:'Montserrat', sans-serif;;
  }

  .linksTable{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
    border-collapse: collapse;
    font-size: x-large;
    }

    .navImg {  /* change the color of images in links*/
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      padding-right: .5rem;
    }
  

  .navLinks:hover{
    background-color: grey;
    }


  .containerMain{
    height: 100%;
    width: 75%;
    background-color:lightblue;
    float: right;
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family:'Montserrat', sans-serif;;
    line-height: 1.7rem;
    letter-spacing: .5px;
    }

    .contentMain{
      width: 90%;
      height: 85%;
      margin:4rem auto;
      background-color: lightskyblue;
      }
  